<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", false)
    <link href="~/Content/footer-distributed-with-address-and-phones.css" rel="stylesheet" />
    <link href="~/Content/header-login-signup.css" rel="stylesheet" />
</head>
<body>

    <header class="header-login-signup">
        <div class="header-limiter">
            <h1><a href="#">Sports<span>Planet</span></a></h1>
            <nav>
                <a href="#">Home</a>
                <a href="#" class="selected">Blog</a>
                <a href="#">Pricing</a>
            </nav>
            <ul>
                <li class="btn btn-primary btn-lg"><a href="~/Account/SignIn">Login</a></li>
                <li><a href="~/Account/SignUp">Sign Up</a></li>
            </ul>
        </div>
    </header>

    @RenderBody()

    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Sports<span>Planet</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">Blog</a>
                ·
                <a href="#">Pricing</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">Sports Planet &copy; 2015</p>
        </div>

        <div class="footer-center">

            <div>
                <i class=" glyphicon glyphicon-map-marker"></i>
                <p><span>21 Gulberg 3</span> Lahore, Pakistan</p>
            </div>

            <div>
                <i class="glyphicon glyphicon-phone"></i>
                <p>+1 555 123456</p>
            </div>

            <div>
                <i class="glyphicon glyphicon-envelope"></i>
                <p><a href="mailto:support@company.com">support@Sports_planet.com</a></p>
            </div>

        </div>



        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#">   <img src="~/Content/images/social_facebook.png" /><i class="fa fa-facebook"></i></a>
                <a href="#">   <img src="~/Content/images/social_googleplus_square.png" /><i class="fa fa-twitter"></i></a>
                <a href="#">   <img src="~/Content/images/social_instagram.png" /><i class="fa fa-linkedin"></i></a>
                <a href="#">    <img src="~/Content/images/social_twitter_square.png" /><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
