@model MvcApplication2.Models.item







<!DOCTYPE html>
<html>
<head>
    <title>Update</title>

    <style>
        #b {
            height: 40px;
            width: 200px;
            -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
            -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
            -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
            box-shadow: inset 0px -3px 7px 0px #29bbff;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
            background: -moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: -ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
            background-color: #2dabf9;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid #0b0e07;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            padding: 9px 23px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #263666;
            margin-left: 5px;
            margin-top: 10px;
        }

            #b:hover {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
                background: -moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: -ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
                background-color: #0688fa;
            }

        #signup {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: #800000;
        }

        #itemname {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: #800000;
            height: 40px;
            width: 250px;
            border-radius: 5px;
            margin-top: 30px;
            font-size: 20px;
            margin-left: 50px;
        }

        #dec {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: #800000;
            height: 40px;
            width: 250px;
            border-radius: 5px;
            margin-top: 60px;
            font-size: 20px;
        }

        #divbutton {
            margin-top: 10px;
            width: 200px;
            height: 60px;
            margin-left: 70px;
            border-radius: 5px;
        }

        #anchorid {
            margin-left: 120px;
            text-decoration: none;
        }
        /*style of Form 2*/
        #divid1 {
            margin-left: 470px;
            margin-top: 0px;
            height: auto;
            width: 400px;
            border-radius: 30px;
            border: 1px solid #8AC007;
            -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        }

        #divid {
            margin-left: 100px;
            margin-top: 20px;
            border-color: black;
            height: 250px;
            width: 350px;
            border-radius: 30px;
            border-color: -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        }

        #b1 {
            margin-left: 140px;
            height: 40px;
            width: 120px;
            -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
            -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
            box-shadow: inset 0px -3px 7px 0px #29bbff;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
            background: -moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: -ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
            background-color: #2dabf9;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid #0b0e07;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            padding: 9px 23px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #263666;
        }

            #b1:hover {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
                background: -moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: -ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
                background-color: #0688fa;
            }

        #signup1 {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: #800000;
        }

        #homeid {
            text-decoration: none;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: #800000;
            margin-left: 150px;
            margin-top: 100px;
        }

        #textarea {
            margin-right: 40px;
        }
    </style>



</head>
<body>
    <a href="/Account/AdminView"><h2 id="homeid">Home</h2></a>
    <div id="divid" style="float:left">
        <form action="/Account/UpdateItem" method="post">

            <table>

                <tr>
                    <td>
                        <input id="itemname" type="text" name="name" placeholder="Enter Item name" required />
                    </td>
                </tr>

            </table>
            <div id="divbutton">
                <button id="b" type="submit" align="center" class="btn btn-info btn-block">Show Item</button>
            </div>

        </form>
    </div>
    <div id="divid1" style="float:left">
        <form action="/Account/UpdateItem1" method="post">

            <table>
                <tr>
                    <td>
                        <h2 id="signup1">Update Item</h2>

                    </td>

                </tr>
                <tr>
                    <td>
                        <input id="fname" name="name" type="hidden" value="@Model.name" />
                    </td>
                </tr>
                <tr>

                    <td>
                        <h5 id="namef">Item Name:</h5>
                    </td>
                    <td>
                        <h1>@Model.name </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Quantity</h5>
                    </td>
                    <td>
                        <input id="lname" name="quantity" type="text" value="@Model.quantity" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Price</h5>
                    </td>
                    <td>
                        <input id="email" name="price" type="number" value="@Model.price" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Size</h5>
                    </td>
                    <td>
                        <input id="email" name="size" type="number" value="@Model.size" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Category</h5>
                    </td>
                    <td>
                        <input id="email" name="category" type="text" value="@Model.category" required />
                    </td>
                </tr>
            </table>
            <button id="b1" type="submit" class="btn btn-info btn-block">Update</button>
            <h3 align="center">@ViewBag.status</h3>
        </form>
    </div>




</body>
</html>
